.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    margin: 0 auto;
    height: 85px;
    border-bottom: 1px solid #D9D9D9;
}

.office{
    width: 25px ;
    height: 25px;
}

.office img{
    width: 100%;
    height: 100%;
}
.icon{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.profile{
    display: flex;
}

.link{
    margin-right: 10px;
    text-decoration: none;
}