.table{
    box-sizing:border-box ;

    height: 500px;
    text-align: center;
    margin: 0 auto;

}

.title{
    min-width: 150px;
    background-color: #C0C0C0;
    border-radius: 5px;
    height: 75px;
}

.str{
    height: 75px;
}

.item{
   
    background-color: #DFDFDF;
    border-radius: 5px;

}

.wrap{
    margin: 0 auto;
    width: 800px;
    overflow-x: auto;
}